.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 200px); /* aumentar el tamaño de las filas */
  padding: 8%;
  max-height: 50svh;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border-radius: 8px;
}
