.container{
  margin: 0 auto;
  max-width: 1110px;
  padding: 2.1rem 0 4 4rem 0;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 85px;
  width: 70px;
  top: 10px;
  left: 20px;
  position: absolute;
  object-fit: contain;
  overflow: hidden;
}

.nav button:nth-of-type(2),
.about article button,
.footer div button {
  color: white;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0 2.9rem;
  border-radius: 9999px;
  letter-spacing: 0.03rem;
  backogrund-color: black;
}