.gridContainer {
  display: grid;
  gap: 10px;
  padding: 20px;
  grid-auto-flow: column;
  align-items: center;
}

@media (max-width: 600px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
