.galleryContainer {
    padding-top: 20px;
}

.cardImage {
    width: 600px;
    transition: transform 0.8s;
    height: 500px;
}

.galleryContainer:hover .cardImage {
    transform: scale(.9);
}

@media (min-width: 1300px) {
    .galleryContainer {
        
    }

    .cardImage {
        width: 100%;
        height: 420px;
        border-image: space;
    }
}

@media (max-width: 390px) {
    .cardImage {
        border: 2px solid green;
        width: 100%;
    }

    .galleryContainer {
        width: 100%;
    }
}