.image {
  transition: filter 0.5s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.image:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media (min-width: 1300px) {
  .image {
    width: 420px;
    height: 95vh;
    object-fit: contain;
  }
}

@media (max-width: 390px) {
  .image {
    width: 840px;
    height: auto;
  }
}