.container {
    background-color: black;
    opacity: 0.7;
    text-justify: inter-word;
}

.phrase {
    color: white;
    text-align: justify;
}

.phrase:first-child {
    padding-bottom: 25px;
}

.itemIcon {
    font-size: 35px;
}


.image {
    background-color: #cccfc8;
    background-image: url('/9.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}


@media (max-width: 390px) {
    .container {
        padding-top: 20px;
        height: 200px;
        border: 2px solid green;
    }

    .image {
        width: 840px;
        height: 750px;
    }
}