.image {
    background-color: #cccfc8;
    background-image: url('/9.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.image:hover {
    opacity: 0.4;

}

@media (max-width: 390px) {
    .image {
        width: 750px;
        height: auto;
    }
}