
.section-container {
    padding-bottom: 8%;
}

.image-container {
    height: 80vh;
    position: relative;
    background: transparent;
}

.image-container > .content{
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container > img,
.image-container > .content {
    transition: 200ms ease-in-out;
}

.image-container:hover > img.blur {
    filter: blur(2px);
}

.image-container > .content.fade {
    opacity: 0;
}
.image-container:hover > .content.fade {
    opacity: 1;
}


.image-container:hover img{
 transform: scale(1.02);  
}

.image-container > img {
    display: block;
    aspect-ratio: 1 / 1;
    padding-top: 15%;
    object-fit: cover;
    object-position: center;
}