.image {
  border-radius: 2px 2px 2px 2px;
  transition: transform 0.8s ease;
}

.containerText {
  animation-delay: 1s;
}

.text {
  opacity: 0;
  color: #1F273C;
  font-size: 0.9em;
  text-align: justify;
  word-spacing: 0.2em;
  transition: opacity 0.3s ease-in-out;
}

.containerText:hover .text {
  opacity: 1;
}


@media (min-width: 1300px) {
  .image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 390px) {
  .image {
    width: 100%;
    height: 520px;
  }

  .image:hover {
    transform: scale(1);
  }

  .text {
    line-height: 1.2;
    font-size: 1.7em;
  }
}