.image {
  border-radius: 20px 5npm px 0px 10px;
  width: 550px;
  height: 350px;
  transition: transform 0.8s ease;
}

.containerText {
  padding: 2px;
  height: 70vh;
  animation-delay: 1s;
}

.text {
  opacity: 0;
  color: white;
  font-size: 0.9em;
  text-align: center;
  word-spacing: 0.2em;
  transition: opacity 0.3s ease-in-out;
}

.containerText:hover .text {
  opacity: 1;
}

.image:hover {
}

@media (max-width: 390px) {
  .image {
    width: 820px;
    height: 520px;
  }

  .image:hover {
    transform: scale(1);
  }

  .text {
    line-height: 1.8;
  }
}
